@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    margin: 0;
    font-family: sans-serif;
    @apply bg-gray-100 text-gray-900 transition-colors duration-300;
  }

  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer components {
  .container {
    @apply w-full max-w-6xl mx-auto p-4 bg-white dark:bg-gray-800;
  }
}

@layer utilities {
  .text--colors_default {
    @apply text-slate-900 dark:text-white;
  }

  .bg--default {
    @apply bg-white dark:bg-slate-800;
  }
}